.Nav{
    color: grey;
    height: 40px;
    text-align: center;
}

.nav-tabs{
    color: brown;
    font-size: 20pt;
}

.active{
    color: grey;
}

.dropdown-toggle{
    color: grey; 
}
.nav-link{
    color: brown;
}
.dropdown-header{
    font-size: 16pt;
    color: black;
}
.dropdown-item{
    color: grey;
}
#lang{
    border: 0;
    margin-top: 15px;
}