.jumbotron{
    background-color: 	#800000;
}

.jumbotron h2{
    color: lightgrey;
}

.Nav{
    color: grey;
    height: 40px;
    text-align: center;
}

.nav-tabs{
    color: 	#800000;
    font-size: 20pt;
}

.active{
    color: grey;
}

.dropdown-toggle{
    color: 	#800000; 
}
.nav-link.active{
    color: 	#800000;
}
.dropdown-header{
    font-size: 16pt;
    color: black;
}
.dropdown-item{
    color: grey;
    /* float: left; */
    text-align: left;
}
.nav-link{
    color: brown;
}
.dropdown-toggle{
    color: 	#800000;
}
.dropdown-menu{
    width: 170px;
}
li.dropdown.nav-item{
    color: 	#800000;
}
.ul.nav.nav-tabs{
    color: 	#800000;
}
.nav-tabs{
    color: 	#800000;
}
.btn-success{
    background: lightgrey;
    border-color: #808080;
    color: maroon;
    font-weight: bold;
}