.jumbotron{
    background-color: brown;
}

.jumbotron h2{
    color: lightgrey;
}

.Nav{
    color: grey;
    height: 40px;
    text-align: center;
}

.nav-tabs{
    color: black;
    font-size: 20pt;
}

.active{
    color: grey;
}

.dropdown-toggle{
    color: grey; 
}
.nav-link.active{
    color: brown;
}
.dropdown-header{
    font-size: 16pt;
    color: black;
}
.dropdown-item{
    color: grey;
    /* float: left; */
    text-align: left;
}
.nav-link{
    color: brown;
}
.dropdown-toggle{
    color: brown;
}
.dropdown-menu{
    width: 170px;
}